.body{font:20pt Arial;}
.button{ font-size: 30pt;
    padding: 30px;
    border: none;
    color: #4F4F4F;
    text-align: center;
    background-color: #000000	;
    border-radius: 4px;
    

}
